@import '../../common/colors.scss';

.movie-list{
    margin: 1.5rem 0;
    h2{
        color:$font-secondary;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }
    
}



@media screen and (max-width:687px){
    .movie-wrapper{
        display: flex;
        justify-content: center;
    }
}